@tailwind base;
@tailwind components;
@tailwind utilities;

.noscr::-webkit-scrollbar {
  display: none;
  /* for Chrome, Safari, and Opera */
}

.noscr {
  overflow: scroll;
  -ms-overflow-style: none;
  /* for Internet Explorer, Edge */
  scrollbar-width: none;
  /* for Firefox */
}
